---
import IndexListES from "../../../components/IndexListES";
import NavFootES from "../../../layouts/NavFootES.astro";
import SubmenuLayoutES from "../../../layouts/SubmenuLayoutES.astro";
import Arrow from "../../../components/svg/Arrow"
---

<NavFootES title="Federico-Liberati">
  <div class="title-container">
    <h1 class="title">INDICE,</h1>
    <!-- <a class="arrow" href="#project"><Arrow /> </a> -->
    </div>
  <div class="containergral">
  <!-- <SubmenuLayoutES /> -->
</div>
<IndexListES transition:persist client:only="react" />
</NavFootES>

<style>
  .containergral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  html {
    scroll-behavior: smooth;
  }

  .title {
  text-align: start;
  margin-left: 2rem;
  font-family: NimbusSans;
  font-weight: 100;
  padding-left: 2rem;
  font-size: 3rem;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    /* height: 90dvh;
    justify-content: end; */
  }

  /* .arrow {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    margin-bottom: 5rem;
  } */

  @media screen and (max-width: 700px) {
    .title {
      margin-top: 4rem;
    }
  }

</style>
