---
import NavFoot from "../layouts/NavFoot.astro";
---

<NavFoot title="Federico-Liberati">
  <div class="container">
    <h1>Error 404</h1>
    <p>Page not found</p>
    <img class="fine" src="/fine.gif" alt="Im fine" />
  </div>
</NavFoot>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: NimbusSans;
  }
  h1 {
    text-align: center;
  }

  .fine {
    width: 500px;
  }
</style>
