---
import NavFoot from "../layouts/NavFoot.astro";
---

<NavFoot title="Federico-Liberati">
  <div class="container-gral">
    <div class="container">
      <div class="container-menu">
        <a href="/info" class="link-info"><h3>INFO,</h3></a>
        <h3 class="bio">BIO,</h3>
      </div>
      <img src="/about.jpg" alt="federico liberati" />
      <div class="container-texto">
        <p class="text1">
          Federico Liberati (1992) is an Argentinean architect. He studied
          architecture in Buenos Aires & Torino and holds a Master in Open BIM
          from the Polythecnic University of Catalonia, Spain (2023).
        </p>
        <p class="text1">
          He also worked as a researcher & teacher at Universidad de Belgrano,
          ARG & as an editor at -NESS Magazine.
        </p>
      </div>
    </div>
  </div>
</NavFoot>

<style>
  .container-gral {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-menu {
    display: flex;
    flex-direction: column;
    height: 70dvh;
    font-family: NimbusSans;
    line-height: 0.01;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    gap: 2rem;
  }

  .link-info {
    text-decoration: none;
    color: #9c9c9c;
  }

  .container-texto {
    width: 30vw;
  }

  .text1 {
    font-family: NimbusSans;
  }

  .text2,
  .text3 {
    font-family: Freight;
  }

  @media screen and (max-width: 700px) {
    .container-texto {
      width: 70vw;
    }

    .container-menu {
      height: 10dvh;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2rem;
      width: 50vh;
    }
  }
</style>
