---
import NavFoot from "../layouts/NavFoot.astro";
import Arrow from "../components/svg/Arrow";
---

<NavFoot title="Federico-Liberati">
  <div class="title-container">
    <div class="titulos">
      <a href="/info" class="link-info"><h3 class="infor">INFO,</h3></a>
      <h3 class="bio">BIO,</h3>
    </div>
    <a class="arrow" href="#bio"><Arrow /> </a>
  </div>
  <div id="bio" class="container-gral">
    <div class="container">
      <div class="container-info">
        <img class="img" src="/about.jpg" alt="federico liberati" />
        <div class="container-texto">
          <p class="text1">
            Federico Liberati (1992) is an Argentinean architect. He studied
            architecture in Buenos Aires & Torino and holds a Master in Open BIM
            from the Polythecnic University of Catalonia, Spain (2023).
          </p>
          <p class="text1">
            He also worked as a researcher & teacher at Universidad de Belgrano,
            ARG & as an editor at -NESS Magazine.
          </p>
        </div>
      </div>
    </div>
  </div>
</NavFoot>

<style>

html {
    scroll-behavior: smooth;
  }

  .titulos {
    display: flex;
    text-align: start;
    margin-left: 2rem;
    font-family: NimbusSans;
    font-weight: 100;
    font-size: 3rem;
    gap: 2rem;
  }

  .title {
    text-align: start;
    margin-left: 2rem;
    font-family: NimbusSans;
    font-weight: 100;
    font-size: 3rem;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    height: 90dvh;
    justify-content: end;
    margin-top: 1rem;
  }

  .arrow {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    margin-bottom: 5rem;
  }
  .container-gral {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-menu {
    display: flex;
    flex-direction: column;
    height: 70dvh;
    font-family: NimbusSans;
    line-height: 0.01;
  }

  .link-info {
    text-decoration: none;
    color: #9c9c9c;
  }

  .infor {
    color: #9c9c9c;
    font-weight: 100;
    font-size: 3rem;
  }

  .bio {
    font-weight: 100;
    font-size: 3rem;
    font-family: NimbusSans;
  }

  .img {
    height: 30rem;
  }


  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin-bottom: 4rem;
  }

  .info {
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 3rem;
    font-family: NimbusSans;
  }

  .container-menu {
    text-align: start;
    font-family: NimbusSans;
    font-weight: 100;
    font-size: 3rem;
  }

  .link-info {
    text-decoration: none;
  }

  .container-info {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .container-texto {
    width: 500px;
    margin-bottom: 2rem;
    margin-right: 4rem;
    font-size: 1.1rem;
  }

  .text1 {
    font-family: NimbusSans;
  }

  .text2,
  .text3 {
    font-family: Freight;
  }

  @media screen and (max-width: 700px) {
    .container-texto {
      width: 60vw;
    }

    .title-container {
      margin-top: 3rem;
    }
  }
</style>
