---
import NavFoot from "../layouts/NavFoot.astro";
---

<NavFoot title="Federico-Liberati">
  <div class="container-gral">
    <div class="container">
      <h1 class="title">CONTACT,</h1>
    </div>
    <div class="container-contact">
      <div class="container1">
        <p>M</p>
        <p>info@federico-liberati.com</p>
      </div>
      <div class="container2">
        <p>Instagram</p>
        <p>@federico__liberati</p>
      </div>
      <div class="container3">
        <p>Linkedin</p>
        <p>federico-liberati</p>
      </div>
    </div>
  </div>
</NavFoot>

<style>
  .title {
    text-align: start;
    margin-left: 2rem;
    font-family: NimbusSans;
    font-weight: 100;
    font-size: 3rem;
  }

  .container-contact {
    display: flex;
    flex-direction: column;
    padding-left: 18rem;
    line-height: 0.01;
    font-family: NimbusSans;
  }

  @media screen and (max-width: 700px) {
    .container-contact {
      width: 100vw;
      padding-left: 16rem;
    }
  }
</style>
