---
import NavFoot from "../layouts/NavFoot.astro";
import Arrow from "../components/svg/Arrow";
---

<NavFoot title="Federico-Liberati">
  <div class="title-container">
    <h1 class="title">CONTACT,</h1>
    <a class="arrow" href="#contact"><Arrow /> </a>
  </div>
  <div class="container-gral">
    <div id="contact" class="container-contact">
      <div class="container1">
        <p>M</p>
        <a class="link" href="mailto:federico-liberati@gmail.com">
          <p>federico-liberati@gmail.com</p>
        </a>
      </div>
      <div class="container2">
        <p>Instagram</p>
        <a class="link" href="https://www.instagram.com/federico__liberati/" target="_blank" rel="noopener noreferrer">
          <p>@federico__liberati</p>
        </a>
      </div>
      <div class="container3">
        <p>Linkedin</p>
        <a class="link" href="https://www.linkedin.com/company/federico-liberati/" target="_blank" rel="noopener noreferrer">
          <p>federico-liberati</p>
        </a>
      </div>
    </div>
  </div>
</NavFoot>

<style>
  html {
    scroll-behavior: smooth;
  }

  .title {
    text-align: start;
    margin-left: 2rem;
    font-family: NimbusSans;
    font-weight: 100;
    font-size: 3rem;
  }

  .link {
    color: black;
    text-decoration: none;
  }

  .container-contact {
    display: flex;
    flex-direction: column;
    padding-left: 18rem;
    line-height: 0.01;
    font-family: NimbusSans;
    margin-bottom: 2rem;
  }

  .title {
    text-align: start;
    margin-left: 2rem;
    font-family: NimbusSans;
    font-weight: 100;
    font-size: 3rem;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    height: 90dvh;
    justify-content: end;
  }

  .arrow {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    margin-bottom: 5rem;
  }

  @media screen and (max-width: 700px) {
    .container-contact {
      padding-left: 0rem;
      display: flex;
      justify-content: center;
    }

    .container-gral {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
</style>
