---
import NavFoot from "../layouts/NavFoot.astro";
import Arrow from "../components/svg/Arrow";
---

<NavFoot title="Federico-Liberati">
  <div class="title-container">
    <div class="titulos">
      <h1 class="info">INFO,</h1>
      <a href="/bio" class="link-info"><h1 class="bio">BIO,</h1></a>
    </div>
    <a class="arrow" href="#info"><Arrow /> </a>
  </div>
  <div id="info" class="container-gral">
    <div class="container">
      <div class="container-texto">
        <p class="text1">
          FEDERICO-LIBERATI is an architecture studio based in Buenos Aires,ARG
          & Barcelona, ESP. Since 2017 we have worked in residential, commercial
          & gastronomic projects; each of wich have allways been developed under
          BIM methodology.
        </p>
        <p class="text1">
          All of our projects are thought with site specific solutions and
          bespoke furniture & objects, intending to portray a unique vision for
          each of them.
        </p>
        <p class="text1">Our services include:</p>
        <div class="list-container">
          <div class="text1">- Research.</div>
          <div class="text1">
            - Schematic Design, Design Development & Construction Documents.
          </div>
          <div class="text1">- BIM Management + QA/QC.</div>
          <div class="text1">- Bidding & Negotiation</div>
          <div class="text1">- Construction administration.</div>
        </div>
      </div>
    </div>
  </div>
</NavFoot>

<style>

html {
    scroll-behavior: smooth;
  }

  .titulos {
    display: flex;
    text-align: start;
    margin-left: 2rem;
    font-family: NimbusSans;
    font-weight: 100;
    font-size: 3rem;
    gap: 2rem;
  }

  .title {
    text-align: start;
    margin-left: 2rem;
    font-family: NimbusSans;
    font-weight: 100;
    font-size: 3rem;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    height: 90dvh;
    justify-content: end;
  }

  .arrow {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    margin-bottom: 5rem;
  }

  .container-gral {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-menu {
    display: flex;
    flex-direction: column;
    height: 70dvh;
    font-family: NimbusSans;
    line-height: 0.01;
  }

  .link-info {
    text-decoration: none;
    font-weight: 100;
    font-size: 3rem;
    font-family: NimbusSans;
    color: #9c9c9c;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin-bottom: 4rem;
  }

  .info {
    font-family: NimbusSans;
    font-weight: 100;
    font-size: 3rem;
    color: rgb(0, 0, 0);
  }

  .container-menu {
    text-align: start;
    font-family: NimbusSans;
    font-weight: 100;
    font-size: 3rem;
  }

  .link-info {
    text-decoration: none;
  }

  .container-texto {
    width: 58.5vw;
    font-size: 1.1rem;
  }

  .text1 {
    font-family: NimbusSans;
  }

  .text2,
  .text3 {
    font-family: Freight;
  }

  .bio {
    font-weight: 100;
    font-size: 3rem;
    font-family: NimbusSans;
  }

  @media screen and (max-width: 700px) {
    .container-texto {
      width: 90vw;
    }

    .container {
      display: flex;
      align-items: start;
      justify-content: start;
      width: 90vw;
    }

    .title-container {
      margin-top: 2rem;
    }
  }
</style>
