.index {
  line-height: 0.4rem;
  font-family: NimbusSans;
  margin-left: 13rem;
}

.sort-buttons {
  display: flex;
  margin-left: 13rem;
  gap: 4rem;
  width: 700px;
}

.button {
    display: flex;
    border: none;
    background-color: transparent;
}

.project {
  display: flex;
  gap: 4rem;
  font-size: 0.4rem;
  width: 700px;
  color:rgb(156, 156, 156);
  text-decoration: none;
  cursor: url('/cursor.png'), auto;
}

.project:hover {
  color: black;
}

#project {
  margin-bottom: 2rem;
}


.container-year,
.container-title,
.container-type,
.container-index {
  width: 100px;
}

.container-status {
  width: 50px;
  text-align: end;
}

.index-img {
  width: 15rem;
  position: absolute;
  right: 10%;
  top: 40%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover .index-img {
  opacity: 1;
}

@media screen and (min-width: 1919px) {
  .index {
    font-size: 1.2rem; 
    line-height: 1.2rem; 
  }

  .sort-buttons {
    gap: 6rem;
    width: 1500px;
  }

  .button {
    font-size: 2rem; 
  }

  .project {
    font-size: 1.2rem; 
    gap: 6rem; 
    width: 1500px;
  }

  .index-img {
    width: 20rem; 
    right: 0;
    top: 0;
  }

  .container-year {
    width: 12rem;
  }

  .container-title {
    width: 16rem;
  }

  .container-type {
    width: 16rem;
  }
}

@media screen and (max-width: 700px) {
  .index, .sort-buttons {
    margin-left: 0;
  }

  .project {
    justify-content: center;
    gap: 0;
    width: 100dvw;
  }

  .container-year,
.container-type {
  width: 80px;
}

.container-title {
  width: 110px;
}

.container-year {
  width: 70px;
}

.container-index {
  width: 50px;
}

.sort-buttons {
  gap: 0;
  justify-content: center;
}

}
