nav {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  font-size: normal;
  z-index: 2;
  padding-top: 0.3rem;
  font-family: NimbusSans;
  font-weight: 100;
  font-size: 3rem;
  background-color: transparent;
  z-index: 95;
}

nav a {
  text-decoration: none;
  color: #114991;
  cursor: url('/cursor.png'), auto;
}

.active {
  font-style: italic;
}

.menu {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  z-index: 96;
  cursor: url('/cursor.png'), auto;
}

.menubtn {
  font-size: 2rem;
}

.desplegable {
  display: none;
}

.menu-on {
  display: none;
}

#logocel {
  display: none;
}

.nav-content {
  display: flex;
  mix-blend-mode: difference;
  background-color: transparent;
  align-items: center;
  height: 5rem;
  justify-content: center;
}

.blend-mode-difference {
  mix-blend-mode: difference;
}

.nav-logo {
  display: flex;
  width: 60vw;
  justify-content: center;
  z-index: 96;
}

.nav-menu {
  display: flex;
  align-items: center;
  position: fixed;
  top: 8;
  right: 0;
  width: 30vw;
  justify-content: right;
  margin-right: 2rem;
  z-index: 96;
}

.nav-back {
  position: fixed;
  top: 8;
  left: 0;
  margin-left: 2rem;
}

.no-scroll {
  overflow: hidden;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.5rem;
  position: fixed;
  background-color: white;
  color: #114991;
  height: 100dvh;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem;
  z-index: 97;
}

.nav-content-new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-top: .3rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 5rem;
  z-index: 98;
  pointer-events: none;
}

.nav-logo-new {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
}

.nav-menu-new {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  justify-content: right;
  margin-right: 2rem;
  margin-top: 2rem;
  z-index: 98;
}

.menu-new {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  z-index: 99;
  cursor: url('/cursor.png'), auto;
}

.language {
  display: flex;
  justify-content: end;
  position: fixed;
  color: #9c9c9c;
  bottom: 0;
  right: 0;
  padding: 1rem;
  z-index: 98;
  padding-right: 2.5rem;
  
    a {
      color: #9c9c9c;
    }
}

.selector {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.5rem;
  position: fixed;
  background-color: white;
  color: #114991;
  height: 100dvh;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-left: 2rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.isologo {
  display: none;
}

.current {
  color: #114991;
}

nav .language a.current {
  color: #114991;
}

nav .language a {
  color: #9c9c9c;
}




@media screen and (max-width: 700px) {

  .menu {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    z-index: 2;
  }

  .nav-content {
    align-items: center;
    width: 100vw;
    margin: 0 30px 0 30px;
    justify-content: space-between;
  }

  .nav-menu {
    margin-top: 2.5rem;
  }

  .nav-back {
    display: none;
  }

  #main {
    display: none;
  }

  nav {
    justify-content: center;
    font-size: 1.3rem;
  }

  .logo {
    width: 100vw;
  }

  .close {
    margin-top: .6rem;

  }

  #projects {
    display: none;
  }

  #about {
    display: none;
  }

  .menu-on {
    display: flex;
    position: sticky;
    position: absolute;
    z-index: 3;
    text-align: center;
    margin-left: 200px;
    top: 90%;
    width: 120px;
    left: 0;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  #logocel {
    display: flex;
    position: absolute;
    z-index: 1;
  }

  .nav-logo-cel {
    z-index: 99;
  }

  .isologo {
    display: flex;
    margin-top: 3rem;
    width: 150px;
  }

  .selector, .language {
    margin-bottom: 2rem;
  }

}


