nav {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  font-family: NimbusSans;
  font-size: normal;
  height: 4rem;
  z-index: 2;
  mix-blend-mode: difference;
}

nav a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  cursor: url('/cursor.png'), auto;
}

.active {
  font-style: italic;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: url('/cursor.png'), auto;
  display: none;
}

.menubtn {
  font-size: 2rem;
}

.desplegable {
  display: none;
}

.menu-on {
  display: none;
}



@media screen and (max-width: 700px) {

  .menu {
    display: flex;
    margin-top: -.5rem;
    margin-left: .5rem;
  }

  nav {
    justify-content: space-around;
    font-size: 1.3rem;
  }

  #projects {
    display: none;
  }

  #about {
    display: none;
  }

  .menu-on {
    display: flex;
    position: sticky;
    position: absolute;
    z-index: 3;
    text-align: center;
    margin-left: 1rem;
    top: 90%;
    width: 120px;
    left: 0;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

}


