.submenu {
    display: flex;
    background-color: transparent;
    mix-blend-mode: difference;
    color: white;
    position: fixed;
    bottom: 0;
    left: 50;
    z-index: 3;
    font-family: Freight;
}

.submenu ul {
    list-style: none;
    padding-left: 0;
}

.submenu li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8.5rem;
}

.submenu a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    cursor: url('/cursor.png'), auto;
}

.active {
    font-style: italic;
}

@media screen and (max-width: 700px) {

    .submenu {
        align-items: center;
        justify-content: center;
    }

    .submenu li {
        justify-content: center;
        gap: 1rem;
    }

    .es a {
        font-size: 1.2rem;
    }

  }