---
import NavFootES from "../../layouts/NavFootES.astro";
---

<NavFootES title="Federico-Liberati">
  <div class="container-gral">
    <div class="container">
      <div class="container-menu">
        <a href="/es/info" class="link-info"><h3>INFO,</h3></a>
        <h3 class="bio">BIO,</h3>
      </div>
      <div class="container-info">
        <img class="img" src="/about.jpg" alt="federico liberati" />
        <div class="container-texto">
          <p class="text1">
            Federico Liberati (1992) es un arquitecto por la Universidad de
            Belgrano, ARG y el Politecnico di Torino, ITA (2016). Es también
            Magister en Open BIM por la Universidad Politécnica de Catalunya,
            ESP (2023).
          </p>
          <p class="text1">
            A lo largo de su carrera ha colaborado con distintos profesionales,
            habiendo trabajado también como docente e investigador en la
            Universidad de Belgrano y como editor en la revista -NESS Magazine.
          </p>
        </div>
      </div>
    </div>
  </div>
</NavFootES>

<style>
  .container-gral {
    display: flex;
    justify-content: center;
  }

  .container-menu {
    display: flex;
    flex-direction: column;
    height: 70dvh;
    font-family: NimbusSans;
    line-height: 0.01;
  }

  .link-info {
    text-decoration: none;
    color: #9c9c9c;
  }

  .infor {
    color: #9c9c9c;
    font-weight: 100;
    font-size: 3rem;
  }

  .bio {
    font-weight: 100;
    font-size: 3rem;
    font-family: NimbusSans;
  }

  .img {
    height: 30rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 90vw;
  }

  .info {
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 3rem;
    font-family: NimbusSans;
  }

  .container-menu {
    text-align: start;
    font-family: NimbusSans;
    font-weight: 100;
    font-size: 3rem;
  }

  .link-info {
    text-decoration: none;
  }

  .container-info {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .container-texto {
    width: 500px;
    margin-bottom: 2rem;
    margin-right: 4rem;
    font-size: 1.1rem;
  }

  .text1 {
    font-family: NimbusSans;
  }

  .text2,
  .text3 {
    font-family: Freight;
  }

  @media screen and (max-width: 700px) {
    .container-texto {
      width: 90vw;
    }

    .container-menu {
      height: 10dvh;
      flex-direction: column;
      justify-content: center;
      margin-top: 7rem;
      margin-bottom: 4rem;
      width: 50vh;
    }
  }
</style>
